<div class="d-flex justify-content-center gap-3">
    <a asp-controller="Account" asp-action="ProfileLogin" asp-route-role="Admin"
       class="btn btn-primary btn-lg">
        <i class="bi bi-person-badge"></i> Увійти як адмін
    </a>
</div>