@{
    ViewData["Title"] = "Admin Panel";
}

<div class="mt-4" style="text-align: center">
    <p>Верифікація курсів</p>
    <a asp-controller="CourseVerification" asp-action="VerificationPanel" class="btn btn-warning mb-3">Перейти до панелі управління верифікаціями</a>
</div>