@{
    ViewData["Title"] = "Home Page";
}

@if (TempData["Message"] != null)
{
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        @TempData["Message"]
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}


<p> Увійти як професор </p>

<button>
    <a asp-controller="CourseCreation" asp-action="CreateCourse">Login as Professor</a>
</button>

<p> Увійти як учень </p>

<button>
    <a asp-controller="Courses" asp-action="Index">Login as Student</a>
</button>

<p> Увійти як адмін сайту </p>

<button>
    <a asp-controller="CourseVerification" asp-action="Index">Login as Admin</a>
</button>

