@{
    ViewData["Title"] = "Home Page";
}

@if (TempData["Message"] != null)
{
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        @TempData["Message"]
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}

<div class="mt-4" style="text-align: center">
    <p>Увійти як професор</p>
    <a asp-controller="CourseCreation" asp-action="CreateCourse" class="btn btn-primary mb-3">Login as Professor</a>

    <p>Увійти як учень</p>
    <a asp-controller="Courses" asp-action="Index" class="btn btn-success mb-3">Login as Student</a>

    <p>Увійти як адмін сайту</p>
    <a asp-controller="CourseVerification" asp-action="Index" class="btn btn-warning mb-3">Login as Admin</a>
</div>
