@{
    ViewData["Title"] = "Home Page";
}

<p> Увійти як професор </p>

<button>
    <a asp-controller="Account" asp-action="LoginProfessor">Login as Professor</a>
</button>

<p> Увійти як учень </p>

<button>
    <a asp-controller="Account" asp-action="LoginStudent">Login as Student</a>
</button>
